langchain_community 
tiktoken 
langchain-openai 
langchainhub 
chromadb 
langchain 
langgraph 
tavily-python 
faiss-cpu 
bs4 
torch 
torchvision 
torchaudio
sentence-transformers
PyPDF2
pypdf
langchain_core
python-dotenv
streamlit
