virtualenvwrapper-win
langchain_community 
tiktoken 
langchainhub 
langchain 
langgraph 
tavily-python 
faiss-cpu 
bs4
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision 
torchaudio
sentence-transformers
PyPDF2
pypdf
langchain_core
python-dotenv
streamlit
rank_bm25
